/* Declaration of the design */
body {
  background-color: #203C56;
  color: #FFD4A3;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: #FFAA5E;
}

.ContentOfIE a:hover {
  text-decoration: underline;
}

.ContentOfIE a:visited {
  color: #D08159;
} 

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-color: #0D2B45 ;
}

nav li {
  float: left;
}  

nav li a {
  display: block;
  color: #FFECD6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #544E68;
}

.ContentOfIE_section h2 {
  float: left;
  width: 70%;
}

section.ContentOfIE_section_subsection {
  float: left;
  width: 70%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
}
  
th, td{
  border: 1px solid black;
} 

.responsive {
  padding: 0 6px;
  width: 100%;
}    

.offset {
  position: relative; 
  top: 39px;
  left: 5%;
}  
  

@media only screen and (max-width: 812px) {
  section.ContentOfIE_section_subsection {
    clear: both;
    width: 100%; 
  }

  .offset {
    top: 0px;
    left: 0px;
  }  

  aside {
    clear: both;
    width: 100%;
  }

  .responsive {
    width: 100%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }  

    
table.centering {
  margin-left: auto;
  margin-right: auto;
}
}

@media only screen and (min-width: 812px) {
  .responsive {
    width: 80%;
  } 
  
table.centering {
  margin-left: 12.5%;
  margin-right: auto;
}
}

div.responsive_picture img {
  width: 100%;
  height: auto;
}

div.responsive_table table{
  width: 100%;
  height: auto;
}

footer {
  font-size: 11px;
  font-family: "Courier New", Monospace;
}

figcaption {
  font-size: 11px;
}

.ContentOfIE header {
  padding: 60px;
  text-align: center;
  color: #FFECD6;
  font-size: 30px;
}

.ContentOfIE_section h2 {
  margin-bottom: 3px;
  font-size: 30px;
  color: #FFAA5E; 
}

section.ContentOfIE_section_subsection h3 {
  margin-top: 2px;
  font-size: 22px;
  text-indent: 10pt;
  margin-bottom: 5px;
  color: rgb(255, 236, 218); 
}

section.ContentOfIE_section_subsection p { 
  margin-top: 0;
}


section.ContentOfIE_section p { 
  margin-top: 0;
}
