/* Declaration of the design */
  body {
      background-color: #203C56;
      color: #FFD4A3;
      font-size: 20px;
  }

  /* Not really needed */
   .responsive {
    padding: 0 6px;
    width: 50%;
  }    



  @media only screen and (max-width: 900px) {
    .responsive {
      width: 100%;
      margin: 6px 0;   
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }  
  }

  @media only screen and (min-width: 900px) {
    .responsive {
      width: 79.999%;
      float: right;  
  } 
}

/* @media only screen and (min-width: 900px) {
  div.responsive_picture img {
    margin-left: 40%; 
  }
} */

/* 
  @media only screen and (max-width: 900px) {
    body {
      width: 100%;
      margin-left: 0px; 
      margin-right: auto;
    } 
  } */


  div.responsive_picture img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }


  footer {
   font-size: 11px;
   font-family: "Courier New", Monospace;
  }

  figcaption {
    font-size: 11px;
  }

  table, th, td {
    border: 1px solid black;
    width: 100%;
    height: auto; 
  }

  .ContentOfIE header {
    padding: 60px;
    text-align: center;
    color: #FFECD6;
    font-size: 30px;
  }

  .ContentOfIE_section h2 {
    font-size: 30px;
    color: #FFAA5E; 
  }

  section.ContentOfIE_section_subsection h3 {
    font-size: 25px;
    text-indent: 10pt;
    margin-bottom: 5px;
    color: rgb(255, 236, 218); 
  }

  section.ContentOfIE_section_subsection p { 
    display: block;  
    margin-top: 0;
  }


  section.ContentOfIE_section p { 
    margin-top: 0;
  }