/*
    ///// Comment-section: CSS custom properties /////
*/ 

/* the default color colors and font sizes*/
/* the number is representing how dark the color is. Higher is darker.*/
:root {
  --dark-1-header-color:rgb(255, 236, 218);
  --dark-1-navbar-color: rgb(255, 236, 218);
  --dark-1-color:rgb(255, 236, 218);
  --dark-2-footer-color:#FFD4A3;
  --dark-2-color:#FFD4A3;
  --dark-3-color:#FFAA5E;
  --dark-3-mail-color:#FFAA5E;
  --dark-4-color:#D08159;
  --dark-5-color:#544E68;
  --dark-5-header-color:#544E68;
  --dark-5-navbar-color:#544E68;
  --dark-6-color:#203C56;
  --dark-7-navbar-color:#0D2B45;
  --dark-7-color:#0D2B45; 
  --fontsize1:30px;
  --fontsize2:30px;
  --fontsize3:22px;
  --fontsize4:11px;    
}

/*
    ///// Comment-section: Body layout /////
*/ 

/* the body proportions*/
body {
  background-color: var(--dark-6-color);
  color: var(--dark-2-color);
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden;
}

/* the next 4 CSS-rules are determing the float width of some blocks in the webpage */
section.webpage-content__section__subsection {
  float: left;
  width: 70%;
}

.webpage-content__section h2 {
  float: left;
  width: 70%;
}

section.webpage-content__section__subsection p { 
  margin-top: 0;
}

section.webpage-content__section p { 
  margin-top: 0;
}

aside {
  float: right;
  width: 30%;
}

.accountbar {
  float: right;
  padding: 3px;
  background-color: var(--dark-5-navbar-color);
  overflow: hidden;
}

.webpage-footer {
  clear: both;
}

/*the last 5 CSS-rules of this comment-section are coloring and changing the font */
.webpage-footer { 
  color: var(--dark-2-footer-color);
  font-size: var(--fontsize4);
  font-family: "Courier New", Monospace;
}

.footer-mail {
 color: var(--dark-3-mail-color);
}

.webpage-content header {
  padding: 60px;
  text-align: center;
  color: var(--dark-1-header-color);
  font-size: var(--fontsize1);
}


.webpage-content__section h2 {
  margin-bottom: 3px;
  font-size: var(--fontsize2);
  color: var(--dark-3-color); 
}

section.webpage-content__section__subsection h3 {
  margin-top: 2px;
  font-size: var(--fontsize3);
  text-indent: 10pt;
  margin-bottom: 5px;
  color: var(--dark-1-color);
}

/*
    ///// Comment-section: Hyperlinks of webpage /////
*/  
a {
  text-decoration: none;
  color: var(--dark-3-color);
}

/* makes the hyperlink underline when hovering */
.webpage-content a:hover {
  text-decoration: underline;
}

/* makes the hyperlink dark colored when clicked */
.webpage-content a:visited {
  color: var(--dark-4-color);
} 

/*
    ///// Comment-section:navigation bar /////
    //the CSS-rules in this comment-section has declarations that determines the coloring and positioning of the navbarigation bar
*/
.navbar .navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-color: var(--dark-7-navbar-color);
}

.navbar li {
  float: left;
} 
 
.navbar li a {
  display: block;
  color: var(--dark-1-navbar-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li:hover {
  background-color: var(--dark-5-navbar-color);
}

/*
    ///// Comment-section:Table /////
    //in this comment sections all CSS-rules determine the borderstyle, coloring and positioning of the table. 
*/
table, th, td{
  border: 1px solid black;
}

table {
  background-color: var(--dark-7-color);
  color: var(--dark-2-color);
}

table tr {
  color: var(--dark-8-color); 
}

table tr#ROW1 {
  background-color: var(--dark-5-color); 
  color:inherit;
} 

td {
  text-align : center;
}

/*
    ///// Comment-section:Image /////
*/
/* size of the image*/
.responsive-picture {
  padding: 0 6px;
  width: 100%;
}

/*position of the image relative to  the original position*/
.offset {
  position: relative; 
  top: 39px;
  left: 5vw;
} 

/* border that is made transparant and really thin*/
 figure {
  border: 1px #00FFFFFF;
  padding: 4px;
  margin: auto;
}

/*
    ///// Comment-section:Captions /////
    //the CSS-rules of this comment-section determine the color of the figcaption
*/
figcaption {
  color: var(--dark-2-color);
}

/*
    ///// Comment-section:Media-queries /////
*/ 
/*an iPhone-X has one of the bigger resolutions for mobile and that is choosen as a upperbound of "mobile mode" 
the fonts are made bigger, the images+ text are centered and increased in size + are responsive.
As last a table can be  responsive on 2 ways, with a scrollbar and width depended on screen*/
@media only screen and (max-width: 812px) {
  body {
    font-size: 20px;
  } 

  caption {
    font-size: 15px;
  }
  
  figcaption {
    font-size: 15px;
  }

  section.webpage-content__section__subsection {
    clear: both;
    width: 100%; 
  }

  .offset {
    top: 0px;
    left: 0px;
  }  

  aside {
    clear: both;
    width: 100%;
  }

  .responsive-table {
    width: 70%;
  }

  .responsive-picture {
    width: 55%;
    margin-left: auto;
    margin-right: auto; 
  }

  .table-scrollbar {
    overflow-x: auto;
  }
  
  table.responsive-table__size--center {
    margin-left: 17.5%;
    margin-right: auto; 
  }
}

/*the next 2 media-queries are resizing the sections sizes of the webpage to make it more readable */
@media only screen and (min-width: 812px) and (max-width: 900px) {
  section.webpage-content__section__subsection {
    width: 55%;
  }

  .webpage-content__section h2 {
    width: 55%;
  }

  aside {
    width: 45%;
  }
  
  .container--resize .webpage-content__section__subsection {
    clear: both;
    width: 100%; 
  }
} 

@media only screen and (min-width: 900px) and (max-width: 1080px) {
  section.webpage-content__section__subsection {
    width: 65%;
  }

  .webpage-content__section h2 {
    width: 65%;
  }

  aside {
    width: 35%;
  }
  
  .container--resize .webpage-content__section__subsection {
    clear: both;
    width: 100%; 
  }
  
} 

/*This media query is meant for when mobiles are not used, since most mobiles are not bigger than 812px.
  This media query resizes the image, and the responsive table that does not use a scrollbar.*/
@media only screen and (min-width: 812px) { 
  .responsive-picture {
    width: 80%;
  }

  .responsive-table {
    width: 50%;
  }
  
  table.responsive-table__size--center {
    margin-left: 49%;
    margin-right: auto;
  }
}

/* The next media-query is resizing the sections so that when zooming out not the whole lay-out becomes bad. 
This works up to 50% zooming out.*/
@media only screen and (min-width: 4682px) {
  section.webpage-content__section__subsection {
    width: 51%;
  }

  .webpage-content__section h2 {
    width: 51%;
  }

  aside {
    width: 49%;
  }

  .responsive-picture {
    position: absolute;
    left: 0%;
  }
}

/*
    ///// Comment-section:Default sizes of image and table /////
*/ 
div.responsive-picture__size img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

div.responsive-table__size table{
  width: 100%;
  max-width: 960px;
  height: auto;
}